<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Components
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Components</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-grid>
      <!-- Vehiculo -->
      <ion-row>
        <ion-col>
          <strong>Dropdown</strong>
          <app-dropdown 
          [items]="dropDownItems"
          [descriptionProperty]="'name'"
          [valueProperty]="'value'"
          [(value)]="dropdownValue"
          [hasSuffix]="false"
          [valueSuffix]="valueSuffix"
          [suffix]="'test Suffix'"
          (valueChange)="valueChanged($event)"
          >
          </app-dropdown>

          <br/>
          DropdownValue
          <br/>
          {{dropdownValue}} 
        </ion-col>
      </ion-row>
    </ion-grid> 
  </div>
</ion-content>
